div {
    display: block;
}
body{
    background-color:#eee;
}
.my_header{width:100%;
           height:360px;
}
.my_footer{width:100%;
           height:245px;
}
.wb{
 width:1920PX;
}
/*大屏幕下的iframe的高度*/
.g-zoombox {
    width: 100%;
    min-width: 1358px;
    height: auto;
    margin: 0 auto;
}
#g-index-wrap1 {
    width: 1358px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 80px 0;
    *zoom: 1;
}
#demo{
    width: 820px;
    height: 340px;
}
.tabs{
    margin-left: 43px;
}
#tab li{
	float: left; list-style: none;
}
#tab li a{
  display:inline-block;
  text-decoration:none;
  width: 99px; height: 36px;
  line-height: 42px;
  text-align: center;
  color:rgb(175, 165, 165);
  font-size: 20px;
  font-family: cursive;
  font-weight: 300;
}
#tab li a:hover{
    color: #0da0b4;
    border-bottom: 1px  #0da0b4 solid;
    background-color: rgba(203, 204, 204, 0.5);
    font-size: 25px;
    border-radius: 10%;
}
#container{
	position: relative;
}
#content1,#content2,#content3,#content4,#content5{
	width: 496px;
	height: 300px;
	position: absolute;
	top: 24px;
	left: 0;
}
#content5>ul{
    width: 496px;
	height: 300px;
}
#tab li,#content1,#content2,#content3,#content4,#content5{
background-color :#eee;
}
.a1 {
    list-style: none;
    width: 496px;
    height: 40px;
    line-height: 39px;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px #e0e2e2 solid;
    text-align: left;
    font-size: 0;
}
span{ 
        display: inline-block;
        vertical-align: middle;
        width: 45px;
        height: 20px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px #69c5d2 solid;
        color: #1da6ba;
        line-height: 18px;
        text-align: center; 
}
.a2{
    color: #bb9a6c;
    border: 1px #c5ab86 solid;
}
.a3 {
    color: #6388c5;
    border: 1px #97afc5 solid;
}
.a4 {
    color: #e9852d;
    border: 1px #e9852d solid;
}
.a5{
    color: #4ba36a;
    border: 1px #4ba36a solid;
}
.a6{
    color: #999e9b;
    border:0;
}
.a7 {
    text-decoration:none;
    list-style: none;
    background-position: 0 -458px;
    width: 496px;
    height: 59px;
    overflow: hidden;
    line-height: 59px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0da0b4;
}
.a7:hover{
    color: #e9852d;
    text-decoration:none;
}
.a8 {
    text-decoration:none;
    display: inline-block;
    vertical-align: middle;
    width: 370px;
    height: 39px;
    overflow: hidden;
    margin-left: 20px;
    color: #424242;
    font-size: 14px;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.a8:hover{
    color:#e9852d;
    font-size: 16px;
    text-decoration:none;
}
.m-act {
    width: 820px;
    height: 335px;
    float: left;
    margin-top: 50px;
}
#tab1>li {
    list-style: none;
    position: relative;
    cursor: pointer;
    float: left;
    width: auto;
    min-width: 40px;
    height: 37px;
    overflow: visible;   
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    margin-right:-90px;
    margin-left:125px;
}
#tab1>li:hover{
    top: 0px;
}
#tab1>li>a{
    color: #676767;
}
#tab1 li a:hover{
    color: #0da0b4;
    border-bottom: 1px  #03e2ff solid;
    background-color: rgb(223, 223, 217);
    font-weight: 400;
    border-radius: 8px;
    font-size: 22px;
}
.tiao{
    content: '\0020';
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
    width: 4px;
    height: 28px;
    background-color: #1da6ba;
    margin-right: 10px;
}
.part-h2-title {
    position: absolute;
    width: auto;
    height: 28px;
    top: 807px;
    left: 290px;
    box-sizing: border-box;
    color: #0b0b0b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.act-item {
    list-style: none;
    float: left;
    width: 193px;
    height: 278px;
    margin: -26px 29px 20px 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: transform .3s;
    transition: transform .3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fefefe;
    margin-right: 16px;
}
.act-item:hover{
    top: -7px;
}
#part1,#part2,#part3{
    width: 840px;
	height: 278px;
    position: absolute;
   margin-top: 26px
}
.m-gamefunc-nav {
    width: 496px;
    height: 335px;
    float: right;
    margin-top: 60px;
    position: relative;
    margin-left: 60px;
}
.m-gamefunc-nav .p1{
    margin-left: 12px;
    width:118px; 
    height:76px; 
    background-color: rgb(19, 180, 180);
    border-radius: 4%;
}
.m-gamefunc-nav .p2 {
    margin: 16px 0 0 12px;
    width:118px; 
    height:76px; 
    background-color: rgb(19, 180, 180);
    border-radius: 4%;
}
.m-gamefunc-nav .p1:hover,.m-gamefunc-nav .p2:hover{
    background-color: rgb(81, 209, 209);
}
.slide-nav-ul>li {
    float: left;
    list-style: none;
}
.btn-flashmen {
    float: left;
    background-position: -193px -316px;
    width: 118px;
    height: 76px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 76px;
    overflow: hidden;
    position: relative;
}
.xinshoubibei,.lingquzhongxin{
    color: #fff;   
    float: left;
    background-position: -193px -316px;
    width: 118px;
    height: 76px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 76px;
    filter: brightness(1);
    -webkit-filter: brightness(1);
    font-family: cursive;
}
.xinshoubibei:hover,.lingquzhongxin:hover{
    font-size: 16px;
    text-decoration:none;
    color: #fff;
}
.m-gamefunc-nav .c3,.m-gamefunc-nav .c4{
    margin-top: 15px;
    margin-right: 19px;
    left: 0px;
    width: 112px;
    height: 68px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4%;
}
.m-gamefunc-nav .p3 {
    margin: 15px 14.5px 0 0;
    width: 112px;
    height: 68px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4%;
}
.m-gamefunc-nav .p4 {
    margin-top: 15px;
    width: 112px;
    height: 68px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4%;
}
.m-gamefunc-nav .p4:hover,.m-gamefunc-nav .p3:hover,.m-gamefunc-nav .c3:hover,.m-gamefunc-nav .c4:hover{
    width: 112px;
    height: 68px;
    text-align: center;
    margin-top:10px;
    background-color:rgb(19, 180, 180);
    border-radius: 4%;
}
.kefu{
    color: rgb(133, 135, 138);   
    float: left;
    font-size: 16px;
    text-align: center;
    width: 112px;
    height: 68px;
    line-height: 68px;
    font-family: cursive;
    position: relative;
}
.kefu:hover{
    color: rgb(250, 250, 250);   
    font-size: 18px;
    text-align: center;
    text-decoration:none;
    font-weight: 500;
    font-family: cursive;
}
.m-newchampionskin {
    float: left;
    width: 820px;
    height: 254px;
    margin-top: 51px;
}
.m-new-champion-one, .m-new-skin-one {
    float: left;
    position: relative;
    width: 402px;
    height: 254px;
    background-color: #f7f6f6;
    box-shadow:5px 5px 10px rgb(66, 63, 63);
}
.m-new-champion-one:hover div{
    display: block;
}
.m-new-champion-one:hover,.m-new-skin-one:hover {
    top: -20px;
 }
.m-new-skin-one {
    margin-left: 16px;
}
.tip-championskin {
    position: absolute;
    display: block;
    left: 9px;
    top: 9px;
    width: auto;
    height: 20px;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    color: #cdbe91;
    line-height: 19px;
    background-color: #000;
}
.pic-mask-0 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 133px;
}
.intro-championskin {
    width: 100%;
    padding: 0 17px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 33px;
    font-size: 16px;
    font-weight: 700;
    color: #e0ded6;
}
.name-championskin {
    width: 100%;
    padding-left: 17px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 12px;
    font-size: 14px;
}
.name-championskin>a {
    color: #f3efef;
}
a {
    text-decoration: none;
}
.m-version-nav {
    width: 496px;
    height: 255px;
    position: relative;
    padding-top: 51px;
    margin-left: 42px;
}
.new-model, .new-version {
    background-color: #f7f6f6;
    position: relative;
    float: left;
    width: 240px;
    height: 120px;
    overflow: visible;
    margin-bottom: 15px;
}
.new-model .sbt{
  width: 240px;
  height: 120px;
  margin-top: -120px;
  display: none;
}
.new-model:hover .sbt{
  display:block;
}
.club-developer {
    float: right;
    width: 242px;
    height: 180px;
    position: relative;
    background-color: #f7f6f6;
}
.week-free-champion {
    float: right;
    width: 239px;
    height: 58px;
    overflow: visible;
    position: relative;
    margin-top: 17px;
}
.week-free-a {
    display: block;
    background-position: -193px -253px;
    background-color: rgb(240, 202, 99);
    width: 239px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    -webkit-transition: filter .5s;
    transition: filter .5s;
    filter: brightness(1);
    -webkit-filter: brightness(1);
}
.week-free-a:hover{
    background-color: rgb(247, 217, 136);
    color: #fff;
    text-decoration: none;
}
.m-new-champion-one>.inner-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 402px;
    height: 254px;
    overflow: hidden;
    background: url(../img/dark70-bg-repeat.png) repeat;
    display: none;
    z-index: 11;
}
.m-new-champion-one .inner-hover>.p1 {
    color: #cdbe91;
    font-size: 18px;
    position: absolute;
    left: 27px;
    top: 20px;
}
.champion-ability {
    width: 450px;
    height: auto;
    overflow: hidden;
    padding-left: 27px;
    box-sizing: border-box;
    margin-top: 58px;
}
.m-new-champion-one .inner-hover>.border {
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    background-position: 0 0;
    width: 396px;
    height: 248px;
}
.champion-ability>li {
    font-size: 14px;
    color: #fff;
    text-align: left;
    width: 175px;
    height: 30px;
    line-height: 30px;
    list-style: none;
    float: left;
    margin: 0 32px 9px 0;
}
.champion-hard-bar {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
    overflow: hidden;
    width: 111px;
    height: 4px;
    text-align: left;
    font-size: 0;
}
.champion-hard-bar>i {
    float: left;
    width: 34px;
    height: 4px;
    background-color: #6c6c6c;
    margin-right: 3px;
}
.champion-hard-bar>.i1 ,.champion-hard-bar>.i2{
    background-color: #fff;
}
.champion-power-bar {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
    width: 80px;
    height: 4px;
    background-color: #6c6c6c;
    position: relative;
}
.champion-power-bar>i {
    display: block;
    position: absolute;
    height: 4px;
    left: 0;
    top: 0;
    width: 50%;
    background-color: #fff;
}
